* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(119, 32, 249, 0.9);
}

.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 26px;
}

.nav-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 15px;
    font-weight: bold;
}

.nav-links li {
    list-style-type: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px;
}

.burger {
    display: none;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(119, 32, 249, 0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
    }

    .nav-links li {
        opacity: 1;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
}



body {
	background: rgba(130, 136, 228, 0.549);
    text-align: center;
    /* justify-content: center; */
}
h1 {
    text-decoration: underline;
    font-size: 50px;
    color: white;
}
h2 {
    color: white;
    font-weight: 200px;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.carousel-container {
    width: 500px;
	display: flex;
	justify-content: space-around;
    height: 450px;
}
.carousel-images {
	width: 80%;
	background: rgba(119, 32, 249, 0.9);
	padding: 10px;
	border-radius: 10px;
	box-sizing: border-box;
}
.carousel-images img {
	width: 100%;
	border-radius: 10px;
	display: none;
    height: 430px;
    object-fit: contain;
}
.carousel-images img:first-of-type {
	display: block;
}
.carousel-button {
	align-self: center;
	background-color: rgba(119, 32, 249, 0.9);
	padding: 10px;
	border-radius: 50%;
	text-align: center;
}
.carousel-button:hover {
	cursor: pointer;
    background-color: rgb(117, 170, 117);
}

h1, .container {
    margin-top: 30px;
    margin-bottom: 15px;
}