* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("/pictures/wisteria.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(119, 32, 249, 0.9);
}

.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 26px;
}

.nav-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 15px;
    font-weight: bold;
}

.nav-links li {
    list-style-type: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px;
}

.burger {
    display: none;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(119, 32, 249, 0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
    }

    .nav-links li {
        opacity: 1;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
}

.about {
    background:none;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.bttn {
    display: flex;
    width: 80px;
    height: 60px;
    background-color: rgba(119, 32, 249, 0.9);
    border-radius: 60% 60% 4% 60%;
    animation: button-animate 10s infinite;
}

@keyframes button-animate {
    100% {
        transform: translateY(750px) rotate(360deg) ;
    }
    
}